<nav>
  <i class="fas fa-bars dropdown">
    <div class="dropdown-content">
      <a class="hamb-li" href="/books">Home</a>
      <a class="hamb-li" href="/books/new">New Book</a>
    </div>
  </i>
  <a class="menu" href="/books">Home</a>
  <a class="menu" href="/books/new">New Book</a>
</nav>