<!DOCTYPE html>
<html>
  <%- include('../../partials/head') %>
  <body>
    <%- include('../../partials/header') %>
    <div class="card">
      <form action="/books" method="POST" id="newBook">
        <label>Title<input class="input-field" type="text" name="title" required /></label>
        <label>Author<input class="input-field" type="text" name="author" required /></label>
        <label>ISBN<input class="input-field" type="text" name="isbn" /></label>
        <label>Image_URL<input class="input-field" type="text" name="image_url" /></label>
        <label>Description<textarea form="newBook" name="description"></textarea></label>
        <input type="submit" class="card-button">
      </form>
    </div>
  </body>
</html>