.cover {
  margin: 0 auto;
}

.card {
  width: 350px;
  background-color: #dddddd;
  margin: 0 auto;
  height: 550px;
  text-align: center;
  padding: 15px;
  box-shadow: 1px 1px 5px;
  box-sizing: border-box;
}

.in-block {
  display: inline-block;
  margin: 5px auto;
  height: 400px;
}

.card-text {
  margin: 0 auto;
  width: 90%;
  overflow: auto;
  background-color: #eeeeee;
  text-align: left;
  height: 200px;
  padding: 15px;
  box-sizing: border-box;
}

.card-author {
  font-weight: lighter;
  margin: 5px;
}

.card-title {
  margin: 5px;
}

.card-isbn {
  margin: 15px;
}

.card-button {
  background-color: black;
  width: 170px;
  height: 50px;
  display: inline-block;
  color: white;
  text-decoration: none;
  line-height: 50px;
  font-weight: lighter;
  margin-top: 40px;
}

.card-button:hover {
  cursor: pointer;
}


.card input, textarea{
  width: 100%;
  clear: both;
}

.card .radio .rad-but {
  width: 20px;
}

@media (max-width: 475px) {
  a.menu {
    display: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: gray;
    padding: 11px 15px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #eeeeee;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}